---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Cards, { Props } from '../components/Cards.astro';
import Carousel from "../components/Carousel.astro";
import Head from "../components/Head.astro";
import Callout from '../components/Callout.astro';
import Reviews from "../components/Reviews.astro";
const heroProps = {
	quoteHeader: "Technology For Your Game",
  backgroundImageUrl: "/trackman-player-swinging.jpg",
	// primaryButtonLabel: "Book a $49 Member for a Day Pass",
	// primaryButtonLink: "https://generalstudentbooking.as.me/DemoDayPassBCGC",
	ribbon: {
	  header: "Already a Practice Member?",
	  buttonLabel: "Book a Session",
	  buttonLink: "https://generalstudentbooking.as.me/MemberPractice"
	}
};

  const items = [
	'60 min <strong>MEMBER FOR A DAY PASS (DEMO)</strong>',
	'60 min Assessment/Lesson with one of our Elite Coaches.'
	];

  const cardsData: Props = {
    header: {
      title: "The Easiest Way To Get Started Now At The Beach City Golf Club Is Simply Select One Of The Following Options:",
    },
    cards: {
      halfWidth: [
        {
          imageSrc: playerSwingingClub,
          imageAlt: "",
          title: "Perform 2 Private Lesson Membership",
          price: "$250/month",
          description: ["Two 50 min Private Golf Lessons with the Trackman Simulator Bay or PuttView Putting System."],
          features: [
            "Best one-on-one instruction in SoCal",
            "Trackman Launch Monitor Simulator Bay",
            "V1 Video Live View",
            "V1 High speed Video Instant Payback",
            "Voiceover Video Analysis",
            "Take home instruction/training checklist",
          ],
          buttonText: "Let's do it",
          buttonLink: "https://app.acuityscheduling.com/catalog.php?owner=21968379&action=addCart&clear=1&id=1557012"
        },
        {
          imageSrc: jackTrackman,
          imageAlt: "",
          title: "Excel 3 Private Lesson Membership",
          price: "$350/month",
          description: ["Three 50 min Private Golf Lessons with Trackman Simulator / PuttView Putting System"],
          features: [
            "Best one-on-one instruction in SoCal",
            "Trackman Launch Monitor Simulator Bay",
            "V1 Video Live View",
            "V1 High speed Video Instant Payback",
            "Voiceover Video Analysis",
            "Take home instruction/training checklist",
            "PuttView + BCGC Coach = Read/Line/Speed dialed like a pro!",
          ],
          buttonText: "Book Now",
          buttonLink: "https://app.acuityscheduling.com/catalog.php?owner=21968379&action=addCart&clear=1&id=1557010"
        },
      ],
      fullWidth: [
            {
                imageSrc: playerSwingingClub,
                imageAlt: "",
                title: "Achieve 4 Private Lesson Membership",
                price: "$450/month",
                description: ["4 Practice Sessions / Monthly Membership"],
                features: [
                    "Trackman Numbers, Training Games, Trackman Combine (Ball striking Test)",
                    "V1 High Speed Video Live View",
                    "V1 High speed Video Instant Payback",
                    "All your favorite golf teaching aids"
                ],
                buttonText: "Get me started",
                buttonLink: "https://app.acuityscheduling.com/catalog.php?owner=21968379&action=addCart&clear=1&id=1624330"
            }
        ]
    }
  };

  import playerSwingingClub from "/src/assets/images/player-swinging-dark-bg.jpg";
  import jackTrackman from "/src/assets/images/jack-hitting-trackman.jpg";

  // Slider Images
  import trackmanOne from "/src/assets/images/TM4_backandfront1_dark.jpg";
  import trackmanTwo from "/src/assets/images/Player+swinging+in+SIM_72+dpi.jpg";
  import trackmanThree from "/src/assets/images/infoscreen_mock.jpg";
  import v1SportsOne from "/src/assets/images/v1-sports-camview.jpg";
  import v1SportsTwo from "/src/assets/images/v1-sports-app.png";
  import v1SportsThree from "/src/assets/images/V1-golf-Studio-With-Lines.jpg";
  import puttviewOne from "/src/assets/images/puttview-aiming-Line.jpg";
  import puttviewTwo from "/src/assets/images/Ball-Tracking.jpg";
  import puttviewThree from "/src/assets/images/Indoor19.jpg";

  const trackmanSlides = [
    {
      heading: "TrackMan 4 Technology",
        body: "The TrackMan 4 is the launch monitor of choice for the pros. It uses doppler radars combined with high-definition cameras to track your ball and swing before, during and after the point of impact and calculates where the ball would drop back down to the fairway. It produces incredibly accurate stats like club speed, attack angle, ball speed, spin rate, distance and much more.",
        imageSrc: trackmanOne,
    },
    {
      heading: "Expert Guidance and Training With Awareness",
        body: "Coupled with the one-on-one coaching we provide at Beach City Golf Club and the Trackman state-of-the-art simulator tech, you get a shot-by-shot analysis and high-quality feedback. You can then use this feedback and work with your instructor to apply what you have learned in simulated, real-world conditions.",
        imageSrc: trackmanTwo,
    },
    {
      heading: "There's an App for That",
        body: "The TrackMan Golf app brings together information from all TrackMan products. You can take your stats from the simulator to the real-world course and practice ranges.",
        imageSrc: trackmanThree,
    },
  ];

  const v1Slides = [
    {
      heading: "The Premier Golf Pro Software",
      body: "The powerful combination of live video capture, swing analysis, graphic overlay, and lesson creation and delivery tools makes V1 Pro an indispensable golf instruction aid.",
      imageSrc: v1SportsThree,
    },
    {
      heading: "Live View of Your Swing",
      body: "Become aware of your body's position before, during, and after your swing. The live view has overlays that help you develop an awareness of your body, so you can train with intention and develop the muscle memory for a consistent swing every time.",
      imageSrc: v1SportsTwo,
    },
    {
      heading: "Training Drills Directly in Front of You",
      body: " V1 software doesn't just show you what you are doing when you swing. It also provides feedback and training drills to make the necessary adjustments to perform better. No guesswork, just results.",
      imageSrc: v1SportsTwo,
    },
  ];

  const puttviewSlides = [
    {
      heading: "Master Your Short Game",
      body: "PuttView is the best augmented reality putting trainer tech in the world. It combines state-of-the-art tracking with live projections on 3D mapped greens.",
      imageSrc: puttviewOne,
    },
    {
      heading: "Interactive Skill Development",
      body: "PuttView will consider the topography of the green, calculate the setup line, project a swing guide, ball speed animation, and so much more.",
      imageSrc: puttviewTwo,
    },
    {
      heading: "Become Aware of Your Pitfalls",
      body: "Are you rolling your putts Too hard/soft aka lacking speed control? Is your Putting posture hurting your putting stroke? Is your ball position at setup throwing your aim off? Do you just need help reading the green? There are many reasons that your Putting may not be up to par. PuttView can help you become aware of exactly what to work on to make every training session count as you practice with intention.",
      imageSrc: puttviewThree,
    }
  ]
---
<Head
  title="Trackman Technology Beach City Golf Club Hermosa Beach, CA"
  description="Get a tour of the facility and try out all of the amazing golf technologies we have put together for you!"
  keywords="golf, golf lessons, devon bonebrake, trackman, hermosa beach, south bay golf lessons"
  author="Beach City Golf"
  image="/bay-two-banner.jpg"
  url="https://www.beachcitygolfclub.com/"
/>
<Layout title="BCG">
	<main>
		<Hero {...heroProps} />
    <Carousel slides={trackmanSlides} />
    <Carousel slides={v1Slides} backgroundColor="black" reverseRow={true} />
    <Carousel slides={puttviewSlides} />
    <Callout
        theme="blue"
        heading="Not ready to select a Membership/Series yet... No Problem!"
        description="It's easy to get started just select one of the following:"
        items={items}
        buttonText="I'm Ready To Get Started"
        buttonLink="https://generalstudentbooking.as.me/BCGCGetStartedNSAandPracticeOptions"
    />
	</main>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
