---
// Cards.astro
export interface Card {
    imageSrc?: string;
    imageAlt?: string;
    title?: string;
    price?: string;
    description?: string[];
    features?: string[];
    buttonText?: string;
    buttonLink?: string;
  }
  
  export interface Props {
    theme: string;
    header?: {
      title?: string;
      summary?: string;
    };
    cards?: {
      halfWidth?: Card[];
      fullWidth?: Card[];
    };
  }
  
  const { theme, header = {}, cards = { halfWidth: [], fullWidth: [] } } = Astro.props;
---

<section class={`cards ${theme ? `cards-${theme}` : ""}`}>
    <div class="container">
        <div class="cards-header">
            {header.title && <h2>{header.title}</h2>}
            {header.summary && (
                <div class="cards-summary">
                    <p>{header.summary}</p>
                </div>
            )}
        </div>
        <div class="cards-grid">
            <div class="cards-grid-row-half">
                {cards.halfWidth?.map(card => (
                    <div class="card">
                        {card.imageSrc && (
                            <div class="card-image">
                                <img src={card.imageSrc} alt={card.imageAlt || 'Card image'} />
                            </div>
                        )}
                        <div class="card-copy">
                            {card.title && <h2>{card.title}</h2>}
                            {card.price && <p class="card-pill">{card.price}</p>}
                            {card.features && (
                                <ul>
                                    {card.features.map(feature => (
                                        <li>{feature}</li>
                                    ))}
                                </ul>
                            )}
                            {card.description && 
                                card.description.map(paragraph => <p>{paragraph}</p>)
                            }
                            {card.buttonText && card.buttonLink && (
                                <a href={card.buttonLink} class="button button--blue">
                                    {card.buttonText}
                                </a>
                            )}
                        </div>
                    </div>
                ))}
            </div>
            <div class="cards-grid-row-full">
                {cards.fullWidth?.map(card => (
                    <div class="card card-fullwidth">
                        {card.imageSrc && (
                            <div class="card-image">
                                <img src={card.imageSrc} alt={card.imageAlt || 'Card image'} />
                            </div>
                        )}
                        <div class="card-copy">
                            {card.title && <h2>{card.title}</h2>}
                            {card.price && <p class="card-pill">{card.price}</p>}
                            {card.description && 
                                card.description.map(paragraph => <p>{paragraph}</p>)
                            }
                            {card.features && (
                                <>
                                    <h4>What you get</h4>
                                    <ul>
                                        {card.features.map(feature => (
                                            <li>{feature}</li>
                                        ))}
                                    </ul>
                                </>
                            )}
                            {card.buttonText && card.buttonLink && (
                                <a href={card.buttonLink} class="button button--blue">
                                    {card.buttonText}
                                </a>
                            )}
                        </div>
                    </div>
                ))}
            </div>
        </div>
    </div>
</section>

<style>
    .cards {
        padding: 160px 0 40px;
        background: var(--white);

        @media (min-width: 750px) {
            padding: 180px 16px 96px;
        }

        @media (min-width: 900px) {
            padding: 140px 64px 96px;
        }

        &.cards-dark {
            background: var(--black200);
            color: var(--white);

            h2 {
                color: var(--white);
            }
        }

        .container {
            @media (min-width: 750px) {
            }
        }

        h2 {
            margin: 0 0 8px;
            color: var(--black);
            font-family: "proxima-nova-extra-condensed", sans-serif;
            font-size: 40px;
            font-weight: 600;
            letter-spacing: -1px;
            line-height: 1.15;
            text-transform: uppercase;

            @media (min-width: 750px) {
                font-size: 56px;
            }
        }

        .cards-summary {
            margin-bottom: 32px;

            @media (min-width: 750px) {
                margin-bottom: 54px;
            }

            p {
                max-width: 500px;
                margin-top: 0;
                font-size: 24px;
                line-height: 1.35;

                @media (min-width: 750px) {
                    font-size: 28px;
                }
            }
        }

        .cards-grid-row-half,
        .cards-grid-row-full {
            display: grid;
        }

        .cards-grid-row-half {
            grid-template-columns: 1fr;
            gap: 24px;

            @media (min-width: 850px) {
                gap: 40px;
                grid-template-columns: 1fr 1fr;
            }

            @media (min-width: 1150px) {
                gap: 64px;
            }
        }

        .cards-grid-row-full {
            grid-template-columns: 1fr;
        }

        .card {
            &.card-fullwidth {
                display: flex;
                flex-direction: column;

                @media (min-width: 1150px) {
                    gap: 40px;
                }

                @media (min-width: 1150px) {
                    align-items: center;
                    flex-direction: row-reverse;
                    gap: 64px;
                }

                .card-image,
                .card-copy {
                    @media (min-width: 1150px) {
                        width: 50%;
                    }
                }

                .card-image {
                    height: 100%;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
                h4 {
                    margin: 24px 0 0;
                    color: var(--blue100);
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1;
                }

                ul {
                    margin-top: 12px;
                }
            }
            .card-image {
                border-radius: 2px;
                overflow: hidden;
            }
            .card-copy {
                padding: 20px 0 32px;

                @media (min-width: 850px) {
                    padding: 20px 0 64px;
                }

                h2 {
                    font-family: "proxima-nova-extra-condensed", sans-serif;
                    font-size: 32px;
                    font-weight: 600;
                    letter-spacing: -1px;
                    line-height: 1.15;
                    text-transform: uppercase;
                }

                ul {
                    padding-left: 20px;
                    list-style: disc;

                    li {
                        font-size: 18px;

                        @media (min-width: 750px) {
                            font-size: 20px;
                        }
                    }
                }

                .button {
                    margin-top: 32px;
                }
            }

            p {
                margin-bottom: 0;
                font-size: 18px;
                text-wrap: pretty;

                @media (min-width: 750px) {
                    max-width: 620px;
                    font-size: 20px;
                }
            }

            .card-pill {
                display: inline-block;
                margin: 3px 0 0;
                padding: 3px 14px;
                background: var(--black);
                border-radius: 4px;
                color: var(--white);
                font-family: "proxima-nova-extra-condensed", sans-serif;
                font-size: 22px;
                font-weight: 700;
                line-height: 1;
            }
        }
    }
</style>