---
export interface Review {
  stars: number; // Number of stars (1-5)
  logo: string; // URL of the logo
  text: string; // Review text
  author: string; // Review author
}

const reviews: Review[] = [
  {
    stars: 5,
    logo: '/google-icon-logo.svg',
    text: 'Jack is an outstanding golf instructor who I highly recommend. His coaching style is both encouraging and effective, tailored to individual needs. Jack\'s clear, step-by-step approach and deep knowledge of the game have significantly improved my skills over the past few months.',
    author: 'Matt A.'
  },
  {
    stars: 5,
    logo: '/google-icon-logo.svg',
    text: 'Beach City Golf Club in Hermosa Beach is awesome. That is really all I need to say. Since practicing here my golf game has improved by leaps. The technology and their expert instructors here are key. Their teaching style is perfect for me and the technology melds just right. So much has been learned and my game has really improved. Their membership options vary for your comfort level.',
    author: 'Dusty Depree'
  },
  {
    stars: 5,
    logo: '/google-icon-logo.svg',
    text: 'Jack Henneberry is a fantastic coach who prioritizes long term development over quick swing fixes. He has a patient teaching style and does not overwhelm you with swing thoughts. Jack has taken time to understand my needs as a player and I know he genuinely cares about the progress that I am making in my game. I would HIGHLY recommend Jack for all skill levels of golfer looking to improve their game.',
    author: 'Connor W.'
  },
  {
    stars: 5,
    logo: '/google-icon-logo.svg',
    text: 'At the age of 36, 16 months after playing my first round of golf, I broke 90 all thanks to Devan\'s incredible coaching and world class facility. A few months after picking up golf I tried lessons with several instructors in the LA area prior to booking my first lesson with Devan. The difference was night and day: the sincerity and lack of ego, the ability to *coach* rather than just go through the motions - within five minutes I knew that if I stuck to the process under Devan\'s approach I would be able to really enjoy the game in ways that many people never get to experience.',
    author: 'Jacob H.'
  },
  {
    stars: 5,
    logo: '/google-icon-logo.svg',
    text: 'I\'ve been playing the sport for about 6 months now and finally broke 100 but on my way to break 90. I have to say it\'s all due to Jack\'s lessons. I have drastically improved my game and my etiquette on the course from his lessons. I can\'t begin to praise his coaching techniques and patience with me. He is an excellent instructor who makes every second of the lesson enjoyable! I would highly recommend him to anyone who is starting out or even a long-time golfer.',
    author: 'Andrew C.'
  },
  {
    stars: 5,
    logo: '/google-icon-logo.svg',
    text: 'If you\'re looking to practice or improve your golf game in South Bay (or anywhere near LA), Beach City Golf Club is the place to go. I\'ve been getting lessons from Jack for a few months now and my game has drastically improved. Jack\'s a great coach, and the technology / services offered at BCGC are top-notch',
    author: 'Austin C.'
  },
  {
    stars: 5,
    logo: '/google-icon-logo.svg',
    text: 'Great place to work on your game! Had my first session here with Calvin and just after a few drills he was able to help me fix my swing path that helped me get some improvement in my distance that I was able to notice right away! Thank you Calvin! Definitely recommend',
    author: 'Aaron T.'
  },
  {
    stars: 5,
    logo: '/google-icon-logo.svg',
    text: 'Nice facility, easy to book and understand the process. Calvin was very helpful and let me swing my own swing while just making some small impactful adjustments.',
    author: 'Dan A.'
  },
  {
    stars: 5,
    logo: '/google-icon-logo.svg',
    text: 'Beach Cities Golf Club is an amazing club for golf lessons if you\'re eve in LA. Their prices are great and I am always able to schedule lessons in line with my schedule! 10/10 recommend :)',
    author: 'Nicole C.'
  },
  {
    stars: 5,
    logo: '/google-icon-logo.svg',
    text: 'Beach City Golf Club is a first-rate boutique golf and fitness training facility and boasts top notch coaches/instructors, including Devan Bonebrake, host of Golf Channel\'s \"The Golf Fix\" and one of Golf Digest\'s Best Young Teachers in America. Devan has worked with my 12-year old son PJ for the past nine months. His expert instruction has helped PJ develop a mechanically sound swing which has translated into successful tournament play and a handicap index of 7.7.',
    author: 'Paul'
  },
];

// Group reviews in pairs
const reviewPairs = [];
for (let i = 0; i < reviews.length; i += 2) {
  reviewPairs.push(reviews.slice(i, i + 2));
}
---

<section class="reviews">
    <div class="reviews-ticker splide">
      <div class="splide__track">
        <div class="splide__list">
          {reviewPairs.map((pair, index) => (
            <div class="reviews-items splide__slide" key={index}>
              {pair.map((review, reviewIndex) => (
                <div class="reviews-item" key={reviewIndex}>
                  <div class="reviews-item-header">
                    <div class="reviews-item-stars">
                      <svg xmlns="http://www.w3.org/2000/svg" width="240" height="38.046" viewBox="0 0 240 38.046">
                        <g id="stars" transform="translate(-307 -5726)">
                          {Array.from({ length: review.stars }).map((_, starIndex) => (
                            <path key={starIndex} id={`star-sharp-sharp-solid-${starIndex}`} d="M38.9,0l4.719,14.535H58.9L46.543,23.511l4.719,14.535L38.9,29.062,26.539,38.046l4.719-14.535L18.9,14.535H34.178Z" transform={`translate(${starIndex * 50 + 288.1} 5726)`} fill="#f0b214"/>
                          ))}
                        </g>
                      </svg>
                    </div>
                    <div class="reviews-item-logo">
                      <img src={review.logo} alt="Review logo">
                    </div>
                  </div>
                  <p>{review.text}</p>
                  <p class="reviews-item-author">{review.author}</p>
                </div>
              ))}
            </div>
          ))}
        </div>
      </div>
    </div>
</section>

<style>
    @import '@splidejs/splide/css';
    .reviews {
        padding: 80px 0;
        background: var(--grey100);

        .reviews-ticker {
            .splide__list {
                display: flex;
                align-items: stretch; /* Ensure all slides have the same height */
            }

            .reviews-items {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }

            .reviews-item {
                padding: 24px;
                background: var(--white);
                border-radius: 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between; /* Distribute space evenly */

                @media (min-width: 500px) {
                    padding: 32px;
                }

                .reviews-item-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .reviews-item-stars {
                    max-width: 160px;

                    svg {
                        width: 100%;
                    }
                }

                .reviews-item-logo {
                    max-width: 32px;
                }

                p {
                    font-size: 16px;
                    flex-grow: 1; /* Allow text to grow and take available space */
                }

                .reviews-item-author {
                    font-weight: 700;
                    margin-top: auto; /* Push author to the bottom */
                }
            }
        }
    }
</style>

<script>
    import { Splide } from '@splidejs/splide';
    import { AutoScroll } from '@splidejs/splide-extension-auto-scroll';

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.reviews-ticker.splide').forEach(reviewsTicker => {
            new Splide(reviewsTicker, {
                type: "loop",
                arrows: false,
                perPage: 1,
                focus: "center",
                mediaQuery: "min",
                autoScroll: {
                    speed: 0.5,
                },
                gap: "24px",
                pagination: false,
                breakpoints: {
                    500: {
                        perPage: 2,
                    },
                    820: {
                        perPage: 3,
                    },
                    1400: {
                        perPage: 4,
                    },
                    1800: {
                        perPage: 5,
                    },
                },
            }).mount({ AutoScroll });
        });
    });
</script>
